.tete
{
    width: 480px;
    height: 60px;
    background-color: blue;
    border:solid 1px #365C8C ;
    
}
.section0
{
    width: 480px;
    height: 60px;
    border:solid 1px #365C8C ;
    background-color: #C4BE95;
}
.section1
{
    width: 100px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color: #C5D9F2;
}
.section2
{
    width: 100px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color:#E7B9B7;
   
}
.section3
{
    width: 100px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color: #C3D798;
    
}
.section4
{
    width: 100px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color:#FBC08C;
  
}
.section5
{
    width: 220px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color:   #00AFF3;
   
}
.section6
{
    width: 220px;
    height: 100px;
    border:solid 1px #365C8C ;
    background-color:  #00AFF3;
    
   
}
.pied
{
    width: 480px;
    height: 60px;
    border:solid 1px #365C8C ;
    background-color:#B3A1C8;
    
    
}
.container
{
    margin-top:111px;
}
